@charset 'UTF-8';

@font-face {
  font-family: 'Press Start 2P';
  src: url('../fonts/PressStart2P-Regular.eot');
  src:
    local('Press Start 2P Regular'),
    local('PressStart2P-Regular'),
    url('../fonts/PressStart2P-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PressStart2P-Regular.woff2') format('woff2'),
    url('../fonts/PressStart2P-Regular.woff') format('woff'),
    url('../fonts/PressStart2P-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
