@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html {
    font-family: 'Press Start 2P', cursive;
    direction: ltr;
    font-size: 10px;
    line-height: 1.382em;
}

button {
    font-family: 'Press Start 2P', cursive;
    padding: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.battlefields {
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-top: 50px;

}

.field {
    height: fit-content;
    width: fit-content;
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    border: 0.5px solid rgb(0, 0, 0);
}

.cell {
    height: 30px;
    width: 30px;
    border: 0.5px solid black;
}

.sea {
    background-color: rgb(255, 255, 255);
}

.ship {
    background-color: rgb(110, 161, 244);
}

.sea-hit {
    background-color: rgb(190, 190, 190);
}

.ship-hit {
    background-color: rgb(255, 97, 97);
}

.rival-field .sea:hover {
    background-color: #d3d3fe;
}

.button-container {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    margin-top: 35px;

}
